<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Test!</title>
    {% include 'include/header.html.twig' %}
    {% block javascripts %}
        {% javascripts '%kernel.root_dir%/Resources/js/page/index.js' %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}

</head>
<body>

<div class="container">
    <div class="row">

        <div class="col-sm-12">
            <br>
            <div class="col-sm-2"></div>
            <div class="col-sm-8">

                <form class="form-horizontal text-center">
                    <div class="form-group">
                        <label for="url-input" class="col-sm-3 control-label">URL:</label>
                        <div class="col-sm-7">
                            <input type="text" id="url-input" class="form-control input-sm">
                        </div>
                    </div>
                </form>

                <div class="modal-footer">
                    <button id="generate-button" class="btn btn-success center-block">generate</button>
                </div>
            </div>
            <div class="col-sm-2"></div>

        </div>

        <div class="col-sm-12" id="url_short-form" hidden>
            <br>
            <div class="col-sm-2"></div>

            <div class="col-sm-8">

                <form class="form-horizontal text-center" >

                    <div class="form-group">
                        <label for="url_short-input" class="col-sm-3 control-label">New short url:</label>
                        <div class="col-sm-7">
                            <div class="input-group">

                                <span class="input-group-addon input-sm" >http://url_shorter.local/</span>
                                <input type="text" id="url_short-input" class="form-control input-sm">

                                <span class="input-group-addon input-sm">
                                    <i id="save-button" class="btn-sm">save</i>
                                </span>
                            </div>

                        </div>
                    </div>
                </form>

            </div>
            <div class="col-sm-2"></div>
        </div>

    </div>
</div>


</body>
</html>
